@charset "utf-8";
/* CSS MAIN SDR Document */

@font-face {
  font-family: 'Digital';
  src: url('fonts/Digital.eot'); /* IE9 Compat Modes */
  src: url('fonts/Digital.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       /*url('fonts/Digital.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/Digital.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Digital.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Trade';
  src: url('fonts/Trade.eot'); /* IE9 Compat Modes */
  src: url('fonts/Trade.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       /*url('fonts/Trade.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/Trade.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Trade.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {background:url('img/pattern5.jpg')center top; margin:0; padding:0; color:#fff}

.sdrMain {width:100%; height:100%; margin:0px;}
.sdrBody { width:1021px; margin:0 auto;}
.ctl {float: left; width: auto; display:inline-block;}
.ctlWat {float: left; width: auto; position: relative; display:inline-block;}

/*------------------------------- LOGO HEADER CSS  ---------------------------------*/
.header{background:url('img/g0xbu_logo2.png')center left black; background-repeat: no-repeat; width:1027px; height:66px; color: #939393; border:1px solid #fff; border-radius: 12px;}
.user {float:right; color: #FFF;font-family: 'Trade'; font-size:24px; margin:-32px 30px 0 0;text-shadow:1px 2px #000;text-align:center;}

/*------------------------------- LCD BOXES CSS  ---------------------------------*/

.lcdScreen {/*background:url('img/lcdBack.jpg')center top !important;*/ background-color: #0000004d; border-radius: 12px; width: 301px; height: 88px; text-align:center; color: #fff; font-size:60px; border:1px solid #fff; display:inline-block; margin-left:30px; font-family: 'Digital'; text-shadow:3px 3px #000;box-shadow: 2px 4px 18px #000;}
.filterLcd {position:absolute; color: #0F0; font-family: 'Digital'; font-size:9px; margin:4px 0 0 262px;text-shadow:1px 1px #000; background: black; border: 1px solid #939393; border-radius: 5px; padding: 1px;}
.squelchLcd {position:absolute; color: #616166; font-family: 'Trade'; font-size:10px; margin:75px 0 0 172px;text-shadow:1px 1px #000;text-align:center;}
.squelchLcd li {margin-left:12px;display:inline-block;}
.modeLcd {position:absolute; color: #616166; font-family: 'Trade'; font-size:10px; margin:75px 0 0 -11px;text-shadow:1px 1px #000;text-align:center;}
.modeLcd li {margin-left:12px;display:inline-block;}
.bandLcd {position:absolute; color: #616166; font-family: 'Trade'; font-size:10px; margin:4px 0 0 2px;text-shadow:1px 1px #000;text-align:center;}
.bandLcd li {margin-left:12px;display:inline-block;}


.statinfo2 {cursor:pointer;}

.payPal {/*background:linear-gradient(0deg, rgb(186, 199, 0) 50%, rgba(255, 255, 255, 1) 123%, rgba(0, 212, 255, 1) 100%);*/ background-color: gold; width:100px; text-align:center; color:#2962ff; font-size:17px; letter-spacing:0px; margin-top: 4px; padding-bottom: 4px; border: 1px solid #000; line-height: 25px;font-family: 'Trade'; border-radius: 33px; text-shadow:1px 1px #000;cursor:pointer}

.butPos {background:linear-gradient(0deg, rgb(80 82 81) 50%, rgba(255, 255, 255, 1) 123%, rgba(0, 212, 255, 1) 100%);  width:32px; text-align:center; color: #fff; font-size:16px; letter-spacing:0px; padding-bottom: 0px; border: 1px solid #000; line-height: 23px;font-family: 'Trade'; border-radius: 10px; text-shadow:1px 1px #000;cursor:pointer}
#butPosBox label {float:left;overflow:hidden;}
#butPosBox label span {text-align:center;display:block;line-height: 25px;}
#butPosBox label input {position:absolute;top:-50px;}
#butPosBox input:checked + span {border-radius: 12px; color:#0cf;}
.small {font-size: 12px;}
.medium {font-size: 21px;}
.large {font-size: 31px;}

.recordingBox {width:auto; max-width:211px; height:31px; font-family: 'Digital'; font-size:26px; line-height: 54px; text-shadow:2px 2px #000; display: block;float: left; margin-top:3px;}
#reccontrol a{color:#0F0; font-size:18px;margin-left: 0px;}
#recbutton{height:40px; color:#00ff00; background: red; margin-top: 50px; font-size:22px; text-shadow:2px 2px #000; border: 1px solid #424251; box-shadow: 1px 1px 1px #000;cursor:pointer}


#waterfalls {width:1026px;background:url('img/watBack.jpg')center top; padding:5px 2px 0px 0px;margin-top: 10px; margin-left: -1px; float:left;}
#chatboxnew {/*background:url('img/chatBack.jpg')center top; */color:#FFF; font-size:12px; font-family:Arial, sans-serif; padding:5px 10px 5px 10px; overflow: hidden; }
.volumeBox {/*background:url('img/backAF.jpg')center top; width:313px; height:35px;*/ accent-color: #0f0; font-family: 'Trade'; font-size:19px; line-height: 28px; text-shadow:2px 2px #000;}
.volumeBox2 {/*background:url('img/backAF.jpg')center top; width:313px; height:35px;*/ font-family: 'Digital'; font-size:20px; line-height: 35px; text-shadow:2px 2px #000;}

#modeBox {width:auto;}
#bandsBox {float: left;}
#squelchBox {width:auto ;margin-top:0px; margin-left: 14px; float: left;}
#filterBox {margin-left: 8px;}
#waterBox {position: absolute;z-index: 999;width: 554px;margin: 0px 0 0 276px;}

.titleLine {width:100%;font-family: 'Trade';font-size:13px; text-align:center;text-shadow:2px 2px #000;}
.leftA {margin-left:2px}
.leftB {margin-left:9px}
.leftC {margin-left:9px}
.leftD {margin-left:5px}
.leftE {margin-left:5px}
.leftG {margin-left:-2px}

/*------------------------------- BUTTONS CSS  ---------------------------------*/
.sdrButtonred {background:url('img/backBut.jpg')center top; height:31px; color:#ec0909; font-size:26px; text-shadow:2px 2px #000;font-family: 'Digital';border: 1px solid #ec0909; box-shadow: 1px 1px 1px #000;cursor:pointer}
.sdrButton {height:31px; background: linear-gradient(45deg, #616166, transparent); color:#fff; font-size:26px; text-shadow:1px 1px #000;font-family: 'Trade';border: 1px solid #424251; border-radius: 12px; box-shadow: 1px 1px 1px #000;cursor:pointer}
.sdrButtonSmall {background:url('img/backBut.jpg')center top; height:20px; color:#757584; font-size:26px; text-shadow:2px 2px #000;font-family: 'Digital';border: 1px solid #424251; box-shadow: 1px 1px 1px #000;cursor:pointer}
/*------------------------------- MODE BUTTON CSS  ---------------------------------*/
.mode {width:18px;}
#modeBox label {float:left;overflow:hidden;}
#modeBox label span {text-align:center;display:block;line-height: 25px;}
#modeBox label input {position:absolute;top:-50px;}
#modeBox input:checked + span {color:#0cf;}

/*------------------------------- BANDS BUTTON CSS  ---------------------------------*/
.bands {width:45px;}
#bandsBox label {float:left;overflow:hidden;}
#bandsBox label span {text-align:center;display:block;line-height: 29px;}
#bandsBox label input {position:absolute;top:-5000px;}
#bandsBox input:checked + span {color:#0CF; border-radius: 33px;}


/*------------------------------- MUTE BUTTON CSS  ---------------------------------*/

.squelch{width:80px; height: 24px;}
#squelchBox label {float:left;overflow:hidden;}
#squelchBox label span {text-align:center;display:block;line-height: 24px;font-size:19px;}
#squelchBox label input {position:absolute;top:-5000px;}
#squelchBox input:checked + span {border: 1px solid #f90;color:#f90; line-height: 22px; border-radius: 12px}

/*------------------------------- INFO BUTTON CSS  ---------------------------------*/

.info{width:150px;}
#infoBox label {float:left;overflow:hidden;}
#infoBox label span {text-align:center;display:block;line-height: 29px;font-size:16px;}
#infoBox label input {position:absolute;top:-5000px;}
#infoBox input:checked + span {border: 1px solid #009900;color:#009900;}

/*------------------------------- FILTER BUTTON CSS  ---------------------------------*/
.filter {width:58px;}
#filterBox label {float:left;overflow:hidden;}
#filterBox label span {text-align:center;display:block;line-height: 28px;font-size:14px;letter-spacing:1px;}
#filterBox label input {position:absolute;top:-5000px;}
#filterBox input:checked + span {border: 1px solid #0f0;color:#0f0; border-radius: 12px;}

/*------------------------------- CUT FILTER CSS  ---------------------------------*/
.cutFilBox {/*background:url('img/backCut.jpg')center top;*/ float:left;overflow:hidden;width:120px; padding-top:3px;height:80px;display:inline-block; text-align:center; color:#FFF;text-shadow:2px 2px #000;font-family: 'Trade';font-size:13px; margin-left: 4px;box-shadow: 2px 2px 2px #000;cursor:pointer; }

/*------------------------------- CUT VOL BOX CSS  ---------------------------------*/
.cutVolBox {background:url('img/backCut2.jpg')center top;float:none;overflow:hidden;width:120px; margin-top:6px; padding-top:3px;height:80px;display:inline-block; text-align:center; color:#FFF;text-shadow:2px 2px #000;font-family: 'Trade';font-size:13px; margin-left: 4px;box-shadow: 2px 2px 2px #000;cursor:pointer; }

/*------------------------------- BW Adjust CSS ----------------------------------------*/
.BwBox {width:70px;}
#BwBox label {float:left;overflow:hidden;}
#BwBox label span {text-align:center;display:block;line-height: 29px;font-size:14px;letter-spacing:1px;}
#BwBox label input {position:absolute;top:80px;}
#BwBox input:checked + span {border: 1px solid #FFF;color:#FFF;}


/*------------------------------- SCOPE BUTTON CSS  ---------------------------------*/
.scope {width:78px; font-size:17px;}
#wfmode label {float:left;overflow:hidden;}
#wfmode label span {text-align:center;display:block;line-height: 29px;}
#wfmode label input {position:absolute;top:-5000px;}
#wfmode input:checked + span {border: 1px solid #FFF;color:#FFF;}

/*------------------------------- SIZE BUTTON CSS  ---------------------------------*/
.size {width:68px; padding: 2px; font-size:16px;}
#wfsize label {float:left;overflow:hidden;}
#wfsize label span {text-align:center;display:block;line-height: 29px;}
#wfsize label input {position:absolute;top:-5000px;}
#wfsize input:checked + span {border: 1px solid #FFF;color:#FFF;}

/*------------------------------- ZOOM BUTTON CSS  ---------------------------------*/
.zoom {width:55px; font-size:17px;}
#wfzoom label {float:left;overflow:hidden;}
#wfzoom label span {text-align:center;display:block;line-height: 29px;}
#wfzoom label input {position:absolute;top:-5000px;}
#wfzoom input:checked + span {border: 1px solid #FFF;color:#FFF;}

/*------------------------------- MEMORIES BUTTON CSS  ---------------------------------*/
#memories {font-size: 11px;}
.memories input{width:37px; font-size:14px!important; height: 31px; background-color: green; border-radius: 12px; color: #ccc;font-size: 26px;text-shadow: 2px 2px #000;font-family: 'Trade';border: 1px solid #424251;box-shadow: 1px 1px 1px #000;cursor: pointer;letter-spacing: 1px;}



/*------------------------------- SPEED BUTTON CSS  ---------------------------------*/
.speed {width:70px; font-size:17px;}
#wfspeed label {float:left;overflow:hidden;}
#wfspeed label span {text-align:center;display:block;line-height: 29px;}
#wfspeed label input {position:absolute;top:-5000px;}
#wfspeed input:checked + span {border: 1px solid #FFF;color:#FFF;}


/*------------------------------- WATERFALL BUTTON CSS  ---------------------------------*/
.water {width:100px;}
#waterBox label {overflow:hidden;float:left; margin-right:7px;}
#waterBox label span {text-align:center;display:block;line-height: 20px;font-size: 16px!important; letter-spacing:1px;height:18px;}
#waterBox label input {position:absolute;top:-5000px;}
#waterBox input:checked + span {border: 1px solid #FFF;color:#FFF;}


.bandLcd li.active{color:#0CF}
.squelchLcd li.active{color:#F90}
.modeLcd li.active{color:#FF0}



#form1 p{margin:0!important;padding:0!important;}
#users {box-shadow: 3px 3px 3px #000; background:#000; width: 1024px;}

.userbtn { 
  font-size: 11px;
font-weight: bold;
  background-color: #000000; 
  border-color: #000000;
} 

.userbtn.title {
  font-size: 11px;
font-weight: bold;
  background-color: #000000;
  border-color: #000000;
content: attr(user-title);
font-size: 11px;
font-weight: bold;
font-family: "Roboto Condensed",Helvetica,"Lucida Grande",Verdana,Arial;
margin-left: 5px;
position: absolute;
white-space: pre-wrap;
padding: 5px;
color: black;
background: white;
border: 1px solid rgb(136, 136, 136);
border-radius: 4px;
box-shadow: rgb(102, 102, 102) 2px 2px 3px;
opacity: 0;
}

.userbtn:hover, 
.userbtn:focus, 
.userbtn:active, 
.userbtn.active, 
.open .dropdown-toggle.userbtn { 
  background-color: rgba(0, 0, 0, 0.9);
} 

.userbtn:active, 
.userbtn.active, 
.open .dropdown-toggle.userbtn { 
  background-image: none;
  outline: 0;
} 


#chatboxspan {text-align:center; font-family: 'Trade';text-shadow:2px 2px #000;}
#chatboxspan .titleLine{font-size:18px}
#chatboxnew {text-align:left}
#chatUser input{background: #383838; border: 1px solid #fff;width: 201px; height: 20px;font-family: 'Trade'; font-size:16px; color:#FFF; padding: 1px;text-align:center; margin: 9px 0 0 600px;}

.chatSubmit{background: #000; border: 1px solid #333; height:22px;color:#FFF; padding: 5px;}
.chat {margin-top:3px;}
#soundappletdiv {    width: 399px;
    margin: 0 auto;
/*-    height: 18px; -*/
    overflow: hidden;
	background:none; color:#000;font-family: 'Trade'; text-align:center;}

  .smeterpeak {
    /*    width:100px; */
    /*    height:13.17px; */
    /*    margin: 0px 0px -14px 6px; */
      height:12.9px;
        margin: 3px 0px -22.1px 7px;
        background-color:#fa9c16;
    /*    box-shadow: 0 0 8px rgba(250, 0, 0, 0.8);
        -webkit-box-shadow: 0 0 8px rgba(250, 0, 0, 0.8);
        -moz-box-shadow: 0 0 8px rgba(250, 0, 0, 0.8);
    */    position:relative;
        background-color: transparent;
        border-right: 2px solid #fa9c16;
      }
    
      .smetermin {
        margin: 13px 0px -12px 7px; 
        z-index: 1;
        width: 0px;
        height: 4.17px;
        background-color: transparent;
        position: absolute;
        border-right: 2px solid #98ffee;
        transition: 0.5s width;
      }
    
      .smeterbar {
        width:250px;
        height:14px;
    /*    max-width: 112px; */
    /*
        background-color: #05ff0a;
        background-color: rgb(0, 220, 0, 0.8);
    */
        background: linear-gradient(to right, #98ffee 105px, red 5px);
        /*box-shadow: 0 0 5px rgba(251, 244, 135, 0.8);*/
    /*    -webkit-box-shadow: 0 0 16px rgba(251, 244, 135, 0.8); */
    /*    -moz-box-shadow: 0 0 16px rgba(251, 244, 135, 0.8); */
        position:relative;
        margin: 9px 0px 0px 7px;
      }
    
    .blink{
      text-decoration: blink;
      -webkit-animation-name: blinker;
      -webkit-animation-duration: 4s;
      -webkit-animation-iteration-count:infinite;
      -webkit-animation-timing-function:ease-in-out;  
      -webkit-animation-direction: alternate;
    }
    
    .EQ {
      /* Block rubber
         width: 100%; height: 100%; */
      width: 250px;
      margin-left:7px;
        max-width: 241px;
        height: 8px;
        font-size: 0;
        position: relative;
        background-color: #000;
    }
    
    .EQ * { box-sizing: border-box; }
    
    
    
    
    /* Column */
    .EQ-column {
      display: inline-block;
        /* border-left: 5px solid #333; */
        /* border-right: 5px solid #333; */
        width: 100%;
        height: 100%;
        position: relative;
      background-image: linear-gradient(to right, #98ffee 115px, red 5px);
    }
    
    
    /* Regulation of the height of a column of a custom attribute */
    .EQ-column[data-volume="0"]::after { height: 0; }
    .EQ-column[data-volume="1"]::after { height: 3%; }
    .EQ-column[data-volume="2"]::after { height: 13%; }
    .EQ-column[data-volume="3"]::after { height: 23%; }
    .EQ-column[data-volume="4"]::after { height: 33%; }
    .EQ-column[data-volume="5"]::after { height: 43%; }
    .EQ-column[data-volume="6"]::after { height: 53%; }
    .EQ-column[data-volume="7"]::after { height: 63%; }
    .EQ-column[data-volume="8"]::after { height: 73%; }
    .EQ-column[data-volume="9"]::after { height: 83%; }
    .EQ-column[data-volume="10"]::after { height: 93%; }
    
    table.smetertable td {padding: 2px; border: 2px solid black;background-color:rgba(226, 226, 226, 0.11)}



/*------------------------------- OLD CSS  ---------------------------------*/

.clear { clear: both}
.others { font-size: 60%; font-family: sans-serif}
.memories { font-size: 80%; font-family: sans-serif}
.scale{position:relative;}
.scaleabs{position:absolute;}
#edgelower:hover {background:url('edgelowerbb.png');}
#edgeupper:hover {background:url('edgeupperbb.png');}
#yellowbarr {background-color:yellow; top:117px; height:1px}
#yellowbara:hover #yellowbarr {top:117px; height:2px}
/*#yellowbar {background-color:yellow; top:117px; height:1px}*/
.hideblinding { display:none;}
.showblinding { display:inline-block; float:left; margin-top: 1px; }
.statinfo0 {font-family: 'Trade';float: left;white-space: nowrap;position: relative;border-width: 1px;border-style: solid;border-color: #009900; border-radius: 5px; background-color: #000;color: #009900;font-size: 14px}
.statinfo1 { float:left; position:relative; border-left-width:0px;border-right-width:2px;border-top-width:0px;border-bottom-width:2px;border-style:solid;border-color:black; }
.statinfo1:hover { z-index:98; }
.statinfo2 { overflow:hidden; border-width:0px; border-left-width:2px; border-style:solid; border-color:black;position:absolute; }
.statinfo2:hover { overflow:visible; }
.statinfol {background-color: #009900;}
.statinfo0l { float:left; white-space:nowrap; position:relative; border-width:1px;border-style:solid;border-color:#80ffc0; background-color:#40cc80;color:black;font-size:12px; }
.statinfo1l { float:left; position:relative; border-left-width:0px;border-right-width:2px;border-top-width:0px;border-bottom-width:2px;border-style:solid;border-color:black; }
.statinfo1l:hover { z-index:98; }
.statinfo2l { overflow:hidden; border-width:0px; border-left-width:2px; border-style:solid; border-color:black;position:absolute; }
.statinfo2l:hover { overflow:visible; }
.statinfoll { background-color:#80ffc0; }
input:not(:checked) + .keylist { display: none; }
input:checked + .keylist { display: block; }
.warning { color:#fd6b00!important; text-decoration:none; font-weight:bold; border:2px; border-style:solid; border-color:black; background-color:#000; margin:8px; padding:4px; display:none;  }
.warning a { color:#fd6b00!important; text-decoration:none;}
